

@import '../assets/sass/mixin.scss';

  // a{
  //   font-size:px(24);
  // }
  .view{
    font-family: "microsoft yahei", sans-serif;
    font-size:px(24);
    background: url(../assets/images/bg_4.jpg) repeat;
    color: #232879;
    *,:after,:before{
      box-sizing: border-box;
    }
    
  }
  
  .wrap{
    margin:0 auto;
    max-width: 750px;
  }
  
  .bg{
    margin-top: px(-2);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg1{
    @extend .bg;
    height:px(260);
    background-image: url(../assets/images/bg_1.jpg);
  }
  
  .bg2{
    @extend .bg;
    height:px(260);
    background-image: url(../assets/images/bg_2.jpg);
  }
  
  .bg3{
    @extend .bg;
    height:px(357);
    background-image: url(../assets/images/bg_3.png);
  }
  
  
  
  .time{
    line-height: px(50);
    color: #c3eff7;
    font-size:px(18);
    text-align: center;
  }
  
  .container{
    margin-top: px(-162);
    position: relative;
    @include bfc();
  }
  
  
  .mod{
    @include bfc;
    margin-bottom:px(30);
    .mod-hd{
      position: relative;
      margin-bottom:px(26);
    }
    .mod-tit{
      @extend %other_sprite;
      @include tit_1;
      position: relative;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      text-shadow: px(2) px(2) px(2) #12269d;
      font-size: px(36);
      font-weight: 700;
      line-height: px(89);
      span{
        color: #fdfb13;
      }
    }
    .mod-stit{
      @extend %other_sprite;
      @include tit_2;
      display: block;
      margin: px(-7) auto 0;
      position: relative;
      z-index: 3;
      line-height: px(42);
      padding-top: px(37);
      text-align: center;
      color: #fff;
      text-shadow: px(2) px(2) px(2) #12269d;
      font-size: px(24);
    }
    .mod-bullet{
      @extend %other_sprite;
      @include deco_bullet;
      position: absolute;
      top:px(-12);
    }
    .mod-bullet-r{
      @extend .mod-bullet;
      right: px(-20);
    }
    .mod-bullet-l{
      @extend .mod-bullet;
      transform: rotateY(180deg);
      left: px(-20);
    }

  }

  .footer{
    background: #18256b;
    font-size:px(12);
    color: #fff;
    text-align: center;
    line-height:px(22);
    padding: px(10) 0;
  }