@import '../assets/sass/mixin.scss';


.lottery{
  width: px(600);
  height: px(600);
  position: relative;
  margin: 0 auto;
}
.lotte-table{
  position: absolute;
  top:0;
  left:0;
  @extend %lottery_sprite;
  @include turntable;
  transition:transform 6s ease;
  li{
    position: absolute;
    top:0;
    left:50%;
    margin-left: px(-50);
    text-align: center;
    width: px(100);
    height: px(200);
    transform-origin:50% px(300);
  }
  .item-img{
    img{
      width: px(100);
      height: px(100);
      display: block;
    }
  }
}
.lotte-oper{
  
}
.lotte-start{
  position: absolute;
  top:px(146);
  left:50%;
  margin-left: px(-85);
  @extend %lottery_sprite;
  @include lottert_arr;
  text-align: center;
  color: #fff;
  line-height: px(50);
  padding-top: px(115);
  font-weight: bold;
}
.lotte-lastTimes{
  display: block;
  line-height: px(32);
  font-size: px(14);
}