@import '../assets/sass/mixin.scss';

.pager{
    text-align: center;
    padding: px(10) 0;
    span,
    a{
      line-height: px(20);
      height: px(20);
      display: inline-block;
      margin: px(2);
    }
    a{
      width: px(20);
      height: px(20);
    }
    span.cur {
      width: px(20);
      height: px(20);
    }
    a.pager-pre,
    a.pager-next,
    span.pager-pre,
    span.pager-next {
      
    }
}