html, body, h1, h2, h3, h4, h5, h6, div, p, br, form, input, button, textarea, select, fieldset, blockquote, ul, ol, li, dl, dt, dd, pre {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: #237db2;
}

em, i {
    font-style: normal;
}

ul, li {
    list-style: none;
}

img {
    border: none;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.clearfix {
    *zoom: 1;
}

input, button, select, textarea {
    outline: none;
    border: 0 none;
}

body {
    font: 12px/24px "Microsoft YaHei";
}

.wrap {
    width: 100%;
    height: 100%;
    background: #FFF;
}
/*顶部*/
.top {
    width: 100%;
    height: 73px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f9f9f9;
    overflow: hidden;
}

.top img {
    margin: 16px 0 0 19px;
    float: left;
}

.top span {
    padding-left: 16px;
    font: 20px/73px "Microsoft YaHei";
    color: #4c4c4c;
    float: left;
}
.footer {
    height: 100px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px #ddd solid;
}
.main {
    overflow: hidden;
    width: 960px;
    margin: 30px auto;
}
.fixed {
    zoom: 1;
}




.main{
    width: 800px;
}
.wrap .main{
    margin-top: 0;
    margin-bottom: 0;
}



/* u-form */
input[type=text].form-control{
    padding: 0 10px;
    line-height: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
}
label.form-label{
    line-height: 34px;
    font-size: 14px;
}
.form-group-horizen{
    padding: 0 0 14px 72px;
    position: relative;
}
.form-group-horizen input[type=text].form-control{
    width: 324px;
}
.form-group-horizen label.form-label{
    width: 72px;
    position: absolute;
    top:0;
    left: 0;
}
.form-group-4em.form-group-horizen{
    padding-left: 64px;
}
.form-group-4em.form-group-horizen .form-label{
    width: 64px;
}
.form-group-4em.form-group-horizen input[type=text].form-control{
    width: 314px;
}

.form-group-vertical{
    margin-bottom: 14px;
}
.form-group-vertical label.form-label{
    display: block;
}
.form-group-vertical input[type=text].form-control{
    width: 378px;
}

.form-group-btn{
    text-align: center;
    padding: 16px 0;
    clear: both;
}

.invalid-feedback{
    line-height: 14px;
    position: relative;
    color: #fc211f;
    padding-left: 20px;
    display: inline-block;
    padding-top: 11px;
    display: none;
    margin-bottom: 11px;
    background:url(../images/icon_invalid.png) no-repeat 0 11px;
}

/* u-btn */
.btn-primary{
    width: 120px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    background: #70c700;
    color: #fff;
    display: inline-block;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}

/* u-tab */
.u-tab{
    overflow: hidden;
}
.u-tab .tab-hd{
    height: 33px;
    margin-bottom: 10px;
}
.u-tab li{
    float: left;
    height: 32px;
    line-height: 32px;
    padding-right: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
    background: url(../images/line_v.png) no-repeat right center;
}
.u-tab li.cur span{
    display: block;
    color: #70c700;
    font-weight: bold;
    border-bottom: 2px solid #70c700;
}

.u-tab .tab-cont{
    display: none;
}

/* u-tip */
.u-tip{
    color: #999999;
    font-size: 14px;
}



/* u-dialog */
.u-dialog{
    width: 400px;
    padding: 0 30px;
    position: relative;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.dialog-close{
    position: absolute;
    top: 23px;
    right: 30px;
    width: 22px;
    height: 22px;
    background:url(../img/close.png) no-repeat;
}
.dialog-close:hover{
    background-image:url(../img/close_h.png);
}
.dialog-tit{
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 0 12px;
}
.dialog-sub{
    margin-bottom: 4px;
    line-height: 28px;
}
.dialog-sub span{
    color: #ffa92d;
}
.dialog-txt{
    color: #999999;
    background: #f2f2f2;
    line-height: 28px;
    padding: 8px 16px;
    border-radius: 8px;
    margin-bottom: 10px;
}


/* oversea */
.oversea{
    position: relative;
    margin-top: 0;
    padding-top: 40px;
    font-size: 14px;
}
.oversea .u-tab{
    margin-bottom: 20px;
}
.oversea .u-tab .tab-hd{
    margin-bottom: 20px;
}
.oversea .btn-primary{
    float: left;
    width: 200px;
    font-size: 16px;
    line-height: 42px;
}
.oversea .form-tips{
    line-height: 34px;
    padding-left: 3px;
    color: #aaaaaa;
}
.oversea .form-group-horizen input[type=text].form-control{
    color: #aaaaaa;
}
.oversea .form-group-btn{
    overflow: hidden;
    margin-bottom: 30px;
}
.oversea .global-invalid-feedback{
    position: absolute;
    top:5px;
    left: 0;
}


.oversea-file,
.oversea-example{
    float: left;
    margin-bottom: 30px;
    margin-right: 20px;
    width: 320px;
}
.oversea-file .file-txt,
.oversea-example .example-txt{
    text-align: center;
    line-height: 36px;
}
.oversea-file .file-field{
    float: left;
    width: 320px;
    height: 204px;
    position: relative;
    background: url(../images/file_filed.png) no-repeat right center;
}
.oversea-file .file-layer{
    width: 300px;
    height: 184px;
    position: absolute;
    top:10px;
    left: 9px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border-radius: 6px;
    display: none;
    background: url(../images/ptlogin_mask2.png) repeat;
}
.oversea-file .file-layer-reupload i{
    margin-top: 50px;
    width: 84px;
    height: 84px;
    background: url(../images/icon_upload_plus.png) repeat;
    display: inline-block;
    *display: inline;
    *zoom:1;
}
.oversea-file .file-layer-error .error-txt{
    color: #fc211f;
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 60px;
    background: url(../images/icon_invalid.png) no-repeat 0 6px;
}
.oversea-file img{
    border-radius: 6px;
    width: 300px;
    height: 184px;
    position: absolute;
    top:10px;
    left: 9px;
}

.oversea-file .file-field input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    cursor: pointer;
    filter:alpha(opacity=0);
    z-index: 999;
    *font-size:100px;
    font-size:100px\0;
}
.oversea-example img{
    display: block;
    height: 204px;
}


.section-tit{
    font-weight: bold;
    line-height: 32px;
    font-size: 14px;
    margin-bottom: 15px;
}
.section-txt{
    margin-bottom: 15px;
}