@import "reset";
@import "mixin";
@import "common";
@import "sprite_btn";
@import "sprite_other";
@import "sprite_niudan";
@import "dialog";


.view{
  font-family: "microsoft yahei", sans-serif;
  font-size:px(24);
  background: url(../images/bg_4.jpg) repeat;
  color: #232879;
  *,:after,:before{
    box-sizing: border-box;
  }
  a{
    font-size:px(24);
  }
}

.wrap{
  margin:0 auto;
  max-width: 750px;
}

.bg{
  margin-top: px(-2);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1{
  @extend .bg;
  height:px(260);
  background-image: url(../images/bg_1.jpg);
}

.bg2{
  @extend .bg;
  height:px(260);
  background-image: url(../images/bg_2.jpg);
}

.bg3{
  @extend .bg;
  height:px(357);
  background-image: url(../images/bg_3.png);
}

a.btn--download{
  @extend %btn--long;
  font-size: px(32);
  display: block;
  margin: 0 auto px(20);
}

.time{
  line-height: px(50);
  color: #c3eff7;
  font-size:px(18);
  text-align: center;
}

.container{
  margin-top: px(-162);
  position: relative;
  @include bfc();
}


.mod{
  @include bfc;
  margin-bottom:px(30);
  .mod-hd{
    position: relative;
    margin-bottom:px(26);
  }
  .mod-tit{
    @extend %other_sprite;
    @include tit_1;
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-shadow: px(2) px(2) px(2) #12269d;
    font-size: px(36);
    font-weight: 700;
    line-height: px(89);
    span{
      color: #fdfb13;
    }
  }
  .mod-stit{
    @extend %other_sprite;
    @include tit_2;
    display: block;
    margin: px(-7) auto 0;
    position: relative;
    z-index: 3;
    line-height: px(42);
    padding-top: px(37);
    text-align: center;
    color: #fff;
    text-shadow: px(2) px(2) px(2) #12269d;
    font-size: px(24);
  }
  .mod-bullet{
    @extend %other_sprite;
    @include deco_bullet;
    position: absolute;
    top:px(-12);
  }
  .mod-bullet-r{
    @extend .mod-bullet;
    right: px(-20);
  }
  .mod-bullet-l{
    @extend .mod-bullet;
    transform: rotateY(180deg);
    left: px(-20);
  }

  .mod-txt{
    width: px(614);
    margin: 0 auto px(16);
    .txt-hd{
      height: px(48);
      background: url(../images/mod_hd.png) no-repeat;
      background-size: cover;
    }
    .txt-fd{
      height: px(48);
      background: url(../images/mod_fd.png) no-repeat;
      background-size: cover;
    }
    .txt-bd{
      background: url(../images/mod_bd.png) repeat-y;
      background-size: 100% auto;
      padding: 0 px(46);
    }
    .txt-tit{
      @extend %other_sprite;
      @include txt_tit;
      position: relative;
      margin: 0 auto px(8);
      text-align: center;
      color: #fff;
      text-shadow: px(2) px(2) px(2) #12269d;
      font-size: px(30);
      font-weight: 700;
      line-height: px(36);
      span{
        color: #fdfb13;
      }
    }
    .txt-cont{
      p{
        line-height: px(46);
        font-size: px(24);
        color: #fff;
        text-shadow: px(1) px(1) px(1) #12269d;
        span{
          color: #fdfb13;
        }
      }
    }
  }
  .mod-bd{

  }

}

.mod--sszb{
  .sszb-wrap{
    margin:0 auto;
    width:px(614);
    height:px(318);
    padding: px(23) px(22) px(24);
    overflow: hidden;
    background: url(../images/mod_sszb.png) no-repeat;
    background-size: contain;
    .sszb-cont{
      width:100%;
      height:100%;
      border-radius: px(15);
      overflow: hidden;
    }
    img{
      display: block;
      width: 100%;
      height: 100%;
      border-radius:px(20);
    }
  }

  %sszb-platform{
    width: 100%;
    height: 100%;
    border-radius:px(20);
    overflow: hidden;
  }
  .sszb-youpai{
    @extend %sszb-platform;
  }
  .sszb-video{
    @extend %sszb-platform;
  }
  .video-palyer{
    background-size:cover;
  }
  a.sszb-goyoupai{
    @extend %btn_sprite;
    @include btn_youpai;
    display: block;
    margin: px(5) auto px(30);
  }


}

.sclb-list{
  @include clearfix;
  padding: 0 px(17);
  li{
    float: left;
    @extend %other_sprite;
    @include pro_2;
    text-align: center;
    padding: px(3) 0 px(20);
  }
  li:last-of-type{

  }
  .item-time{
    font-size:px(18);
    line-height:px(28);
    font-weight: bold;
    background: linear-gradient(to bottom, #fff4c7,#ffffff 50%, #fff4c7);
    -webkit-background-clip: text;
    color: transparent;
  }
  .item-stage{
    font-size:px(32);
    line-height:px(66);
    font-weight: bold;
    background: linear-gradient(to bottom, #fdfefe, #8ac9dd);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: px(16);
  }

  .item-status{
    line-height: px(38);
    font-size:px(24);
  }
  .item-status--live{
    color: #ff6c00;
  }
  .item-status--ready{
    color: #2d48b7;
  }
  .item-status--over{
    color: #2d48b7;
  }
  .item-status--over{
    color: #545454;
  }
}


.niudan{
  @extend %niudan_sprite;
  @include niudan_machine;
  position: relative;
  padding-top: px(170);
  margin-bottom: px(20);
  .niudan-prob{
    position: absolute;
    @extend %niudan_sprite;
    @include niudan_prob;
    top:px(101);
    right: px(22);
  }
  .niudan-award{
    position: absolute;
    @extend %niudan_sprite;
    @include niudan_award;
    top:px(170);
    left: px(77);
    z-index: 99;
  }
  .niudan-container{
    width: px(484);
    height: px(242);
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: px(30);
    img{
      width: px(110);
      height: px(110);
      display: block;
      position: absolute;
    }
  }
  .niudan-user{
    width: px(380);
    margin-bottom: px(85);
    height: px(65);
    line-height: px(65);
    font-size: px(24);
    margin-left: px(76);
    .user-ulog{
      width: px(200);
    }
  }
  .niudan_hole{
    position: absolute;
    @extend %niudan_sprite;
    @include niudan_hole;
    top:px(415);
    right: px(64);
    img{
      width: px(50);
      height: px(50);
      position: absolute;
      left:px(30);
      top:0;
      opacity: 0;
    }
    img.niudan-out{
      opacity: 1;
      animation:cujpin 1s ease-out forwards;
      -webkit-animation:cujpin 1s ease-out forwards;
    }
  }

  .niudan-chance{
    line-height: px(38);
    padding: px(14);
    width: px(426);
    height: px(140);
    font-size: px(22);
    position: absolute;
    top:px(18);
    left:px(60);
    color: #fff;
    transform: rotate(-4.5deg);
    span{
      color: #ffec30;
    }
  }

  .niudan-start{
    @extend %niudan_sprite;
    @include niudan_start;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: px(55) 0 0;
    line-height: px(20);
    color: #000;
    font-size: px(14);
  }
  .niudan-myaward{
    position: absolute;
    @extend %niudan_sprite;
    @include niudan_myaward;
    bottom:px(64);
    right: px(34);
  }

}

.qiu_1{left:px(0); top:px(137);}
.qiu_2{left:px(99); top:px(37);}
.qiu_3{left:px(99); top:px(140);}
.qiu_4{left:px(193); top:px(109);}
.qiu_5{left:px(269); top:px(60);}
.qiu_6{left:px(271); top:px(159);}
.qiu_7{left:px(377); top:px(45);}
.qiu_8{left:px(376); top:px(149);}


.wieyi_1{animation:around1 1.5s linear  infinite;-webkit-animation:around1 1.5s linear  infinite}
.wieyi_2{animation:around2 1.5s linear  infinite;-webkit-animation:around2 1.5s linear  infinite;}
.wieyi_3{animation:around3 1.5s linear  infinite;-webkit-animation:around3 1.5s linear  infinite;}
.wieyi_4{animation:around4 1.5s linear  infinite;-webkit-animation:around4 1.5s linear  infinite;}
.wieyi_5{animation:around5 1.5s linear  infinite;-webkit-animation:around5 1.5s linear  infinite;}
.wieyi_6{animation:around6 1.5s linear infinite;-webkit-animation:around6 1.5s linear infinite;}
.wieyi_7{animation:around7 1.5s linear  infinite;-webkit-animation:around7 1.5s linear  infinite;}
.wieyi_8{animation:around8 1.5s linear  infinite;-webkit-animation:around8 1.5s linear  infinite;}


.mod--zbfl{
  .zbfl-share{
    @extend %btn_sprite;
    @include btn_share;
    display: block;
    margin: 0 auto;
  }
  .zbfl-get_chance{
    padding: 0 px(5);
    line-height: px(38);
    border-radius: px(5);
    font-weight: bold;
    font-size: px(24);
  }
  a.zbfl-get_chance{
    display: none;
    background: #fddd3f;
    color: #233fc8;
  }
  span.zbfl-get_chance{
    background: #656565;
    color: #dedede;
  }
  .zbfl-alble{
    a.zbfl-get_chance{
      display: inline-block;
    }
    span.zbfl-get_chance{
      display: none;
    }
  }
}

.ssjl-list{
  @include clearfix;
  padding: 0 px(17);
  a{
    float: left;
    @extend %other_sprite;
    @include pro_1;
    text-align: center;
    margin: 0 px(8) px(10);
  }
  li:last-of-type{

  }
  .item-rank{
    margin-top: px(5);
    font-size:px(24);
    line-height:px(38);
    font-weight: bold;
    background: linear-gradient(to bottom, #fff4c7,#ffffff 50%, #fff4c7);
    -webkit-background-clip: text;
    color: transparent;
  }
  .item-image{
    display: block;
    margin: 0 auto px(9);
    height: px(105);
  }

  .item-more{
    line-height: px(40);
    color: #ff6900;
    font-size:px(24);
  }
}

.lbdh-list{
  @include clearfix;
  padding: 0 px(17);
  li{
    float: left;
    text-align: center;
    margin: 0 px(2) px(30);
  }
  li:nth-of-type(4),
  li:nth-of-type(5){
    margin: 0 px(23) px(30);
  }
  li:nth-of-type(4){
    margin-left: px(80);
  }
  .item-cover{
    display: block;
    padding: px(42) 0 0;
    position: relative;
    margin-bottom: px(10);
    @extend %other_sprite;
    @include pro_3;
  }
  .item-int{
    line-height: px(43);
    font-size: px(30);
    background: linear-gradient(to bottom, #ffffff, #c3d6fc);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-bottom: px(74);
  }
  .item-img{
    position: absolute;
    top:px(71);
    left:px(24);
    width: px(150);
    height: px(100);
  }
  .item-dh{
    display: block;
    margin: 0 auto;
    @extend %btn_sprite;
    @include btn_dh;
  }
  .item-dh.geted{
    @include btn_dhed;
  }
  .item-more{
    line-height: px(26);
    color: #719dff;
    font-size:px(18);
  }
}



.footer{
  background: #18256b;
  font-size:px(12);
  color: #fff;
  text-align: center;
  line-height:px(22);
  padding: px(10) 0;
}



@-webkit-keyframes cujpin{
  0%{
    -webkit-transform:translateY(px(10)) scale(1);}
  100% {
    -webkit-transform:translateY(px(50)) scale(1.5);
  }
}
@keyframes cujpin{
  0%{
    transform:translateY(px(10)) scale(1);}
  100% {
    transform:translateY(px(50)) scale(1.5);
  }
}



@-webkit-keyframes around1 {
  0%{ -webkit-transform:translate(0px,0px)  }
  20%{-webkit-transform:translate(px(300),px(230)) }
  40%{-webkit-transform:translate(px(200),px(-100)) }
  60%{-webkit-transform:translate(px(50),px(230)) }
  80%{-webkit-transform:translate(px(300),px(-50)) }
  100%{-webkit-transform:translate(px(200),px(240)) }
}
@keyframes around1 {
  0%{ transform:translate(0px,0px)  }
  20%{transform:translate(px(300),px(230)) }
  40%{transform:translate(px(200),px(-100)) }
  60%{transform:translate(px(50),px(230)) }
  80%{transform:translate(px(300),px(-50)) }
  100%{transform:translate(px(200),px(240)) }
}

@-webkit-keyframes around2 {
  0%{ -webkit-transform:translate(0px,0px)  }
  10%{-webkit-transform:translate(px(300),px(-120)) }
  30%{-webkit-transform:translate(px(250),px(130)) }
  50%{-webkit-transform:translate(px(-50),px(-120)) }
  80%{-webkit-transform:translate(px(0),px(140)) }
  100%{-webkit-transform:translate(px(300),px(-180)) }
}
@keyframes around2 {
  0%{ transform:translate(0px,0px)  }
  10%{transform:translate(px(300),px(-120)) }
  30%{transform:translate(px(250),px(130)) }
  50%{transform:translate(px(-50),px(-120)) }
  80%{transform:translate(px(0),px(140)) }
  100%{transform:translate(px(300),px(-180)) }
}


@-webkit-keyframes around3 {
  0%{ -webkit-transform:translate(0px,0px)  }
  25%{-webkit-transform:translate(px(70),px(-290)) }
  50%{-webkit-transform:translate(px(320),px(0)) }
  80%{-webkit-transform:translate(px(-20),px(-290)) }
  100%{-webkit-transform:translate(px(290),px(0)) }
}

@keyframes around3 {
  0%{ transform:translate(px(0),px(0))  }
  25%{transform:translate(px(70),px(-290)) }
  50%{transform:translate(px(320),px(0)) }
  80%{transform:translate(px(-20),px(-290)) }
  100%{transform:translate(px(290),px(0)) }

}

@-webkit-keyframes around4 {
  0%{ -webkit-transform:translate(px(0),px(0))  }
  12%{-webkit-transform:translate(px(50),px(250)) }
  30%{-webkit-transform:translate(px(-150),px(-30)) }
  60%{-webkit-transform:translate(px(-140),px(260)) }
  80%{-webkit-transform:translate(px(-10),px(-30)) }
  100%{-webkit-transform:translate(px(-20),px(260)) }

}
@keyframes around4 {
  0%{ transform:translate(px(0),px(0))  }
  12%{transform:translate(px(50),px(250)) }
  30%{transform:translate(px(-150),px(-30)) }
  60%{transform:translate(px(-140),px(260)) }
  80%{transform:translate(px(-10),px(-30)) }
  100%{transform:translate(px(-20),px(260)) }

}


@-webkit-keyframes around5 {
  0%{ -webkit-transform:translate(px(0),px(0))  }
  22%{-webkit-transform:translate(px(-50),px(-170)) }
  46%{-webkit-transform:translate(px(150),px(145)) }
  80%{-webkit-transform:translate(px(200),px(-115)) }
  100%{-webkit-transform:translate(px(-100),px(145)) }
}

@keyframes around5 {
  0%{ transform:translate(px(0),px(0))  }
  22%{transform:translate(px(-50),px(-170)) }
  46%{transform:translate(px(150),px(145)) }
  80%{transform:translate(px(200),px(-115)) }
  100%{transform:translate(px(-100),px(145)) }
}





@-webkit-keyframes around6 {
  0%{ -webkit-transform:translate(px(0),px(0))  }
  15%{ -webkit-transform:translate(px(260),px(40))  }
  30%{ -webkit-transform:translate(px(-80),px(-260))  }
  45%{ -webkit-transform:translate(px(-40),px(40))  }
  60%{ -webkit-transform:translate(px(100),px(-290))  }
  75%{ -webkit-transform:translate(px(-80),px(-280))  }
  100%{ -webkit-transform:translate(px(10),px(40))  }
}

@keyframes around6 {
  0%{ transform:translate(px(0),px(0))  }
  15%{ transform:translate(px(260),px(40))  }
  30%{ transform:translate(px(-80),px(-260))  }
  45%{ transform:translate(px(-40),px(40))  }
  60%{ transform:translate(px(100),px(-290))  }
  75%{ transform:translate(px(-80),px(-280))  }
  100%{ transform:translate(px(10),px(40))  }

}

@-webkit-keyframes around7 {
  0%{ -webkit-transform:translate(px(0),px(0))  }
  20%{ -webkit-transform:translate(px(-60),px(-170))  }
  40%{ -webkit-transform:translate(px(90),px(160))  }
  60%{ -webkit-transform:translate(px(-220),px(-140))  }
  80%{ -webkit-transform:translate(px(160),px(-60))  }
  100%{ -webkit-transform:translate(px(-100),px(-100))  }

}

@keyframes around7 {
  0%{ transform:translate(px(0),px(0))  }
  20%{ transform:translate(px(-60),px(-170))  }
  40%{ transform:translate(px(90),px(160))  }
  60%{ transform:translate(px(-220),px(-140))  }
  80%{ transform:translate(px(160),px(-60))  }
  100%{ transform:translate(px(-100),px(-100))  }

}

@-webkit-keyframes around8 {
  0%{ -webkit-transform:translate(px(0),px(0))  }
  20%{ -webkit-transform:translate(px(140),px(-120))  }
  40%{ -webkit-transform:translate(px(-140),px(40))  }
  60%{ -webkit-transform:translate(px(-180),px(-240))  }
  80%{ -webkit-transform:translate(px(100),px(50))  }
  100%{ -webkit-transform:translate(px(-180),px(-220))  }
}
@keyframes around8 {
  0%{ transform:translate(px(0),px(0))  }
  20%{ transform:translate(px(140),px(-120))  }
  40%{ transform:translate(px(-140),px(40))  }
  60%{ transform:translate(px(-180),px(-240))  }
  80%{ transform:translate(px(100),px(50))  }
  100%{ transform:translate(px(-180),px(-220))  }
}


.lowVersion{
  .sclb-list{
    .item-stage{
      color: #fff;
    }
    .item-time{
      color: #fff;
    }
  }
  .ssjl-list{
    .item-rank{
      color: #fff;
    }
  }
  .lbdh-list{
    .item-int{
      color: #fff;
    }
  }
}

