.header{
    box-sizing: border-box;
    padding:15px 25px;
    border-bottom:1px solid #ccc;
    background: white;
    .header-title{
      font-size: 20px;
      text-indent: 20px;
    }
    .header-logo{
      width: 40px;
    }
}