<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="" id="app">
        {{message}}
    </div>
    <div class="" id="app2">
        <span v-bind:title="message">鼠标悬停试试</span>
    </div>
    <div class="" id="app3">
        <span v-if="seen">条件条件条件</span>
    </div>
    <div id="app4">
        <ul>
            <li v-for="todo in todos">
                {{todo.name}}
            </li>
        </ul>
    </div>
    <div class="" id="app5">
        {{message}}
        <button v-on:click="reverseMessage">reverse message</button>
    </div>
    <div class="" id="app6">
        {{message}}
        <input type="text" v-model="message">
    </div>

    <ul id="app7">
        <star-item v-for="soccerStar in soccerStarList" v-bind:star="soccerStar" v-bind:key="soccerStar.id"></star-item>
    </ul>
    <script src="https://unpkg.com/vue"></script>
    <script>

        // 声明式渲染
        // 文本插值(数据绑定DOM文本)
        var app = new Vue({
            el : '#app',
            data : {
                message : 'You completed me!'
            }
        })

        // (数据绑定DOM特性)
        var app2 = new Vue({
            el : '#app2',
            data : {
                message : '鼠标选停几秒' + new Date().toLocaleString()
            }
        })

        // 条件和循环(数据绑定DOM结构)
        var app3 = new Vue({
            el : '#app3',
            data : {
                seen : true
            }
        })

        var app4 = new Vue({
            el : '#app4',
            data : {
                todos : [
                    {name:'mu'},
                    {name:'rm'},
                    {name:'bc'}
                ]
            }
        })
        app4.todos.push({name:'br'})


        //用户输入
        var app5 = new Vue({
            el : '#app5',
            data : {
                message : 'I Love You'
            },
            methods : {
                reverseMessage : function(){
                    this.message = this.message.split('').reverse().join('');
                }
            }
        })

        //用户输入双向绑定
        var app6 = new Vue({
            el : '#app6',
            data : {
                message : 'default'
            }
        })


        //vue 组件
        Vue.component('star-item',{
            props : ['star'],
            template : '<li>{{star.name}}</li>'     // 子单元通过 prop 接口与父单元进行了良好的解耦。
        })
        var app7 = new Vue({
            el : '#app7',
            data : {
                soccerStarList : [
                    {id:'1',name:'messi'},
                    {id:'2',name:'ronardo'},
                    {id:'3',name:'neimar'}
                ]
            }
        })

        




    </script>
</body>
</html>