@import '../assets/sass/mixin.scss';

.lbdh-list{
    @include clearfix;
    padding: 0 px(17);
    li{
      float: left;
      text-align: center;
      margin: 0 px(2) px(30);
    }
    li:nth-of-type(4),
    li:nth-of-type(5){
      margin: 0 px(23) px(30);
    }
    li:nth-of-type(4){
      margin-left: px(80);
    }
    .item-cover{
      display: block;
      padding: px(42) 0 0;
      position: relative;
      margin-bottom: px(10);
      @extend %other_sprite;
      @include pro_3;
    }
    .item-int{
      line-height: px(43);
      font-size: px(30);
      background: linear-gradient(to bottom, #ffffff, #c3d6fc);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
      margin-bottom: px(74);
    }
    .item-img{
      position: absolute;
      top:px(71);
      left:px(24);
      width: px(150);
      height: px(100);
    }
    .item-dh{
      display: block;
      margin: 0 auto;
      @extend %btn_sprite;
      @include btn_dh;
    }
    .item-dh.geted{
      @include btn_dhed;
    }
    .item-more{
      line-height: px(26);
      color: #719dff;
      font-size:px(18);
    }
  }