@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img { border: medium none; margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

* { margin: 0; padding: 0; }

body { background: #0e0e0e; position: relative; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #d9b65c; font: 62.5%/1.5 "微软雅黑"; font-size: 0.24rem; }

ul, ol, li { list-style: none; }

a { text-decoration: none; color: #000003; -webkit-tap-highlight-color: transparent; cursor: pointer; }

img { border: 0px; vertical-align: top; width: 100%; -webkit-tap-highlight-color: transparent; }

table { border-collapse: collapse; border-spacing: 0; }

em, i { font-style: normal; }

.cf { *zoom: 1; }

.cf:after { content: ''; display: block; height: 0; clear: both; }

.fl { float: left; }

.fr { float: right; }

input, textarea { outline: none; }

input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; }

input { vertical-align: middle; border-radius: 5px; font-size: inherit; -webkit-border-radius: 5px; -moz-border-radius: 5px; cursor: pointer; }

.dialog .dialog-btn, a.btn--download, .mod--sszb a.sszb-goyoupai, .mod--zbfl .zbfl-share, .lbdh-list .item-dh { background: url(../images/sprite_btn.png); background-repeat: no-repeat; background-size: 5.25rem 2.93rem; }

.dialog .dialog-btn, a.btn--download { display: inline-block; text-align: center; color: #e3faff; }

.dialog .dialog-btn { background-position: -3.43rem 0; width: 1.82rem; height: 0.64rem; font-size: 0.24rem; line-height: 0.54rem; font-weight: bold; /*background: linear-gradient(to bottom, #fdfefe, #8ac9dd);
-webkit-background-clip: text;*/ text-shadow: 0.02rem 0.02rem 0.02rem #093f93; }

a.btn--download { background-position: 0 0; width: 3.39rem; height: 0.85rem; font-size: 0.6rem; line-height: 0.7rem; font-weight: bold; text-shadow: 0.02rem 0.02rem 0.02rem #093f93; }

.dialog .dialog-btn, a.btn--download, .mod--sszb a.sszb-goyoupai, .mod--zbfl .zbfl-share, .lbdh-list .item-dh { background: url(../images/sprite_btn.png); background-repeat: no-repeat; background-size: 5.25rem 2.93rem; }

.dialog .dialog-btn, a.btn--download { display: inline-block; text-align: center; color: #e3faff; }

.dialog .dialog-btn { background-position: -3.43rem 0; width: 1.82rem; height: 0.64rem; font-size: 0.24rem; line-height: 0.54rem; font-weight: bold; /*background: linear-gradient(to bottom, #fdfefe, #8ac9dd);
-webkit-background-clip: text;*/ text-shadow: 0.02rem 0.02rem 0.02rem #093f93; }

a.btn--download { background-position: 0 0; width: 3.39rem; height: 0.85rem; font-size: 0.6rem; line-height: 0.7rem; font-weight: bold; text-shadow: 0.02rem 0.02rem 0.02rem #093f93; }

/* user */
.user { text-align: center; position: relative; color: #005d69; *zoom: 1; }
.user a { color: #005d69; font-weight: bold; margin: 0 0.05rem; }
.user .user-name, .user .user-greet, .user .user-logout { display: inline-block; vertical-align: top; }
.user .user-name { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 1.3rem; }

.pager { text-align: center; padding: 0.1rem 0; }
.pager span, .pager a { line-height: 0.2rem; height: 0.2rem; display: inline-block; margin: 0.02rem; }
.pager a { width: 0.2rem; height: 0.2rem; }
.pager span.cur { width: 0.2rem; height: 0.2rem; }
.pager a.pager-pre, .pager a.pager-next, .pager span.pager-pre, .pager span.pager-next { width: 0.45rem; }

.dialog .dialog-btn, a.btn--download, .mod--sszb a.sszb-goyoupai, .mod--zbfl .zbfl-share, .lbdh-list .item-dh { background: url(../images/sprite_btn.png); background-repeat: no-repeat; background-size: 5.25rem 2.93rem; }

.mod .mod-tit, .mod .mod-stit, .mod .mod-bullet, .mod .mod-bullet-r, .mod .mod-bullet-l, .mod .mod-txt .txt-tit, .sclb-list li, .ssjl-list a, .lbdh-list .item-cover { background: url(../images/sprite_other.png); background-repeat: no-repeat; background-size: 8.09rem 4.67rem; }

.niudan, .niudan .niudan-prob, .niudan .niudan-award, .niudan .niudan_hole, .niudan .niudan-start, .niudan .niudan-myaward { background: url(../images/sprite_niudan.png); background-repeat: no-repeat; background-size: 9.74rem 7.39rem; }

.dialog .dialog-btn, a.btn--download, .mod--sszb a.sszb-goyoupai, .mod--zbfl .zbfl-share, .lbdh-list .item-dh { background: url(../images/sprite_btn.png); background-repeat: no-repeat; background-size: 5.25rem 2.93rem; }

.dialog .dialog-btn, a.btn--download { display: inline-block; text-align: center; color: #e3faff; }

.dialog .dialog-btn { background-position: -3.43rem 0; width: 1.82rem; height: 0.64rem; font-size: 0.24rem; line-height: 0.54rem; font-weight: bold; /*background: linear-gradient(to bottom, #fdfefe, #8ac9dd);
-webkit-background-clip: text;*/ text-shadow: 0.02rem 0.02rem 0.02rem #093f93; }

a.btn--download { background-position: 0 0; width: 3.39rem; height: 0.85rem; font-size: 0.6rem; line-height: 0.7rem; font-weight: bold; text-shadow: 0.02rem 0.02rem 0.02rem #093f93; }

.dialog { position: relative; font: 500 0.18rem/0.2rem "microsoft yahei"; color: #fff; width: 6.18rem; }
.dialog a { color: #d9d5d3; }
.dialog a:hover { color: #d9d5d3; text-decoration: none; }
.dialog input[type="text"], .dialog textarea { font: 500 0.14rem/0.24rem "microsoft yahei"; color: #fff; background: #a7e5ff; border: 0.01rem solid #57a5e3; padding: 0.05rem; color: #000; }
.dialog textarea::-webkit-input-placeholder { color: #000; }
.dialog textarea:-moz-placeholder { color: #000; }
.dialog textarea:-ms-input-placeholder { color: #000; }
.dialog .dialog-close { position: absolute; width: 0.32rem; height: 0.32rem; top: 0.32rem; right: 0.32rem; z-index: 9; font: 500 0.4rem/0.3rem "microsoft yahei"; color: #fff; }
.dialog .dialog-close:hover { text-decoration: none; }
.dialog .dialog-hd { background: url(../images/dialog_hd.png) no-repeat; background-size: cover; height: 0.46rem; }
.dialog .dialog-fd { background: url(../images/dialog_fd.png) no-repeat; background-size: cover; height: 0.4rem; }
.dialog .dialog-body { background: url(../images/dialog_bd.png) repeat-y; background-size: 100% auto; position: relative; *zoom: 1; padding: 0.1rem 0.09rem; }
.dialog .dialog-title { text-align: center; font: 700 0.3rem/0.4rem "microsoft yahei"; color: #fff; margin-bottom: 0.1rem; }
.dialog .dialog-title span { color: #ffff0c; }
.dialog .dialog-txt { text-align: center; }
.dialog .dialog-tips { position: relative; text-align: center; line-height: 0.22rem; }
.dialog .dialog-tips span { position: absolute; top: 0; left: 0.22rem; }
.dialog .dialog-opt { text-align: center; padding: 0.1rem 0; }
.dialog .dialog-btn { margin: 0 0.08rem; /*color: #fff;
width: px(130);
height: px(40);
display: inline-block;
@include bfont(16, 40, $color_1);*/ text-align: center; border: none; cursor: pointer; /*background-color: $color_4;*/ }
.dialog .dialog-btn:hover { opacity: 0.9; }
.dialog .dialog-txt { text-align: center; }

.dialog-pager { position: relative; }
.dialog-pager span, .dialog-pager a { display: none; }
.dialog-pager span.pager-pre, .dialog-pager a.pager-pre, .dialog-pager span.pager-next, .dialog-pager a.pager-next { display: block; width: 0.9rem; line-height: 0.48rem; height: 0.48rem; position: absolute; font-size: 0.24rem; border: 0.05rem solid #6995db; text-align: center; background: #15225b; opacity: .5; color: #9ad6ff; border-radius: 0.05rem; }
.dialog-pager span.pager-pre, .dialog-pager a.pager-pre { left: -0.18rem; border-left: none; }
.dialog-pager span.pager-next, .dialog-pager a.pager-next { right: -0.18rem; border-right: none; }
.dialog-pager .pager-count { display: block; }

.item--award { height: 0.4rem; overflow: hidden; line-height: 0.4rem; margin-bottom: 0.05rem; }
.item--award .item-label { float: left; padding: 0 0.1rem 0 0; width: 1.7rem; text-align: right; }
.item--award .item-oper { float: left; width: 3.68rem; }
.item--award .item-oper a { color: #fff; }
.item--award .item-text { padding: 0 0.07rem; float: left; }
.item--award .item-num { float: left; width: 0.5rem; }

.item--copy .copy-input { padding: 0 0.05rem; width: 2rem; float: left; height: 0.28rem; line-height: 0.28rem; margin-right: 0.05rem; }
.item--copy a.copy-btn { padding: 0 0.05rem; line-height: 0.4rem; width: 0.5rem; height: 0.4rem; background: #32d1d3; text-align: center; float: left; }
.item--copy a.copy-btn:hover { opacity: 0.9; text-decoration: underline; }

.dialog--myaward { padding: 0.1rem 0.3rem; }
.dialog--myaward .myaward-list { width: 5.48rem; margin: 0 auto; padding: 0.1rem 0rem; }
.dialog--myaward .myaward-list .item--award { margin-bottom: 0.05rem; }

.dialog-form .form-item { position: relative; *zoom: 1; padding-left: 1.8rem; margin-bottom: 0.05rem; }
.dialog-form .form-label { position: absolute; top: 0; left: 0; width: 1.8rem; text-align: right; line-height: 0.4rem; }
.dialog-form .form-input { height: 0.28rem; line-height: 0.28rem; width: 1.8rem; }
.dialog-form .form-textarea { line-height: 0.28rem; padding: 0.05rem; width: 3rem; height: 1.2rem; }
.dialog-form .dialog-tips { margin-left: 1.2rem; }

.dialog--tip .dialog-body { padding: 0.2rem 0; }
.dialog--tip .dialog-body .dialog-title { font-size: 0.24rem; }
.dialog--tip .dialog-body p { text-align: center; }

.dialog--gift_code .gift_code-tip { text-align: center; margin-bottom: 0.1rem; }
.dialog--gift_code .gift_code-link { float: right; margin-right: 0.1rem; }

.dialog--awardList .awardList-list { text-align: center; }
.dialog--awardList .awardList-list li { line-height: 0.4rem; font-size: 0.24rem; }

.dialog--award .award-list { text-align: center; }
.dialog--award .award-list li { line-height: 0.4rem; font-size: 0.24rem; }

.dialog--prob .prob-list { text-align: center; }
.dialog--prob .prob-list li { line-height: 0.4rem; font-size: 0.24rem; }

.view { font-family: "microsoft yahei", sans-serif; font-size: 0.24rem; background: url(../images/bg_4.jpg) repeat; color: #232879; }
.view *, .view :after, .view :before { box-sizing: border-box; }
.view a { font-size: 0.24rem; }

.wrap { margin: 0 auto; max-width: 750px; }

.bg, .bg1, .bg2, .bg3 { margin-top: -0.02rem; background-repeat: no-repeat; background-size: cover; }

.bg1 { height: 2.6rem; background-image: url(../images/bg_1.jpg); }

.bg2 { height: 2.6rem; background-image: url(../images/bg_2.jpg); }

.bg3 { height: 3.57rem; background-image: url(../images/bg_3.png); }

a.btn--download { font-size: 0.32rem; display: block; margin: 0 auto 0.2rem; }

.time { line-height: 0.5rem; color: #c3eff7; font-size: 0.18rem; text-align: center; }

.container { margin-top: -1.62rem; position: relative; }
.container:before, .container:after { content: ""; display: table; }

.mod { margin-bottom: 0.3rem; }
.mod:before, .mod:after { content: ""; display: table; }
.mod .mod-hd { position: relative; margin-bottom: 0.26rem; }
.mod .mod-tit { background-position: -2.89rem 0; width: 5.2rem; height: 0.89rem; position: relative; margin: 0 auto; text-align: center; color: #fff; text-shadow: 0.02rem 0.02rem 0.02rem #12269d; font-size: 0.36rem; font-weight: 700; line-height: 0.89rem; }
.mod .mod-tit span { color: #fdfb13; }
.mod .mod-stit { background-position: -2.89rem -0.93rem; width: 2.67rem; height: 0.9rem; display: block; margin: -0.07rem auto 0; position: relative; z-index: 3; line-height: 0.42rem; padding-top: 0.37rem; text-align: center; color: #fff; text-shadow: 0.02rem 0.02rem 0.02rem #12269d; font-size: 0.24rem; }
.mod .mod-bullet, .mod .mod-bullet-r, .mod .mod-bullet-l { background-position: -4.06rem -2.24rem; width: 1.24rem; height: 1.27rem; position: absolute; top: -0.12rem; }
.mod .mod-bullet-r { right: -0.2rem; }
.mod .mod-bullet-l { transform: rotateY(180deg); left: -0.2rem; }
.mod .mod-txt { width: 6.14rem; margin: 0 auto 0.16rem; }
.mod .mod-txt .txt-hd { height: 0.48rem; background: url(../images/mod_hd.png) no-repeat; background-size: cover; }
.mod .mod-txt .txt-fd { height: 0.48rem; background: url(../images/mod_fd.png) no-repeat; background-size: cover; }
.mod .mod-txt .txt-bd { background: url(../images/mod_bd.png) repeat-y; background-size: 100% auto; padding: 0 0.46rem; }
.mod .mod-txt .txt-tit { background-position: 0 -4.31rem; width: 5.1rem; height: 0.36rem; position: relative; margin: 0 auto 0.08rem; text-align: center; color: #fff; text-shadow: 0.02rem 0.02rem 0.02rem #12269d; font-size: 0.3rem; font-weight: 700; line-height: 0.36rem; }
.mod .mod-txt .txt-tit span { color: #fdfb13; }
.mod .mod-txt .txt-cont p { line-height: 0.46rem; font-size: 0.24rem; color: #fff; text-shadow: 0.01rem 0.01rem 0.01rem #12269d; }
.mod .mod-txt .txt-cont p span { color: #fdfb13; }

.mod--sszb .sszb-wrap { margin: 0 auto; width: 6.14rem; height: 3.18rem; padding: 0.23rem 0.22rem 0.24rem; overflow: hidden; background: url(../images/mod_sszb.png) no-repeat; background-size: contain; }
.mod--sszb .sszb-wrap .sszb-cont { width: 100%; height: 100%; border-radius: 0.15rem; overflow: hidden; }
.mod--sszb .sszb-wrap img { display: block; width: 100%; height: 100%; border-radius: 0.2rem; }
.mod--sszb .sszb-youpai, .mod--sszb .sszb-video { width: 100%; height: 100%; border-radius: 0.2rem; overflow: hidden; }
.mod--sszb .video-palyer { background-size: cover; }
.mod--sszb a.sszb-goyoupai { background-position: 0 -0.89rem; width: 2.54rem; height: 0.68rem; display: block; margin: 0.05rem auto 0.3rem; }

.sclb-list { *zoom: 1; padding: 0 0.17rem; }
.sclb-list:after { content: ""; display: table; clear: both; }
.sclb-list li { float: left; background-position: -2.01rem -2.24rem; width: 2.01rem; height: 1.67rem; text-align: center; padding: 0.03rem 0 0.2rem; }
.sclb-list .item-time { font-size: 0.18rem; line-height: 0.28rem; font-weight: bold; background: linear-gradient(to bottom, #fff4c7, #ffffff 50%, #fff4c7); -webkit-background-clip: text; color: transparent; }
.sclb-list .item-stage { font-size: 0.32rem; line-height: 0.66rem; font-weight: bold; background: linear-gradient(to bottom, #fdfefe, #8ac9dd); -webkit-background-clip: text; color: transparent; margin-bottom: 0.16rem; }
.sclb-list .item-status { line-height: 0.38rem; font-size: 0.24rem; }
.sclb-list .item-status--live { color: #ff6c00; }
.sclb-list .item-status--ready { color: #2d48b7; }
.sclb-list .item-status--over { color: #2d48b7; }
.sclb-list .item-status--over { color: #545454; }

.niudan { background-position: 0 0; width: 6.4rem; height: 7.39rem; position: relative; padding-top: 1.7rem; margin-bottom: 0.2rem; }
.niudan .niudan-prob { position: absolute; background-position: -6.44rem -2.48rem; width: 0.78rem; height: 0.78rem; top: 1.01rem; right: 0.22rem; }
.niudan .niudan-award { position: absolute; background-position: -8.36rem -0.99rem; width: 1rem; height: 0.9rem; top: 1.7rem; left: 0.77rem; z-index: 99; }
.niudan .niudan-container { width: 4.84rem; height: 2.42rem; position: relative; margin: 0 auto; overflow: hidden; border-radius: 0.3rem; }
.niudan .niudan-container img { width: 1.1rem; height: 1.1rem; display: block; position: absolute; }
.niudan .niudan-user { width: 3.8rem; margin-bottom: 0.85rem; height: 0.65rem; line-height: 0.65rem; font-size: 0.24rem; margin-left: 0.76rem; }
.niudan .niudan-user .user-ulog { width: 2rem; }
.niudan .niudan_hole { position: absolute; background-position: -7.23rem -0.99rem; width: 1.09rem; height: 0.94rem; top: 4.15rem; right: 0.64rem; }
.niudan .niudan_hole img { width: 0.5rem; height: 0.5rem; position: absolute; left: 0.3rem; top: 0; opacity: 0; }
.niudan .niudan_hole img.niudan-out { opacity: 1; animation: cujpin 1s ease-out forwards; -webkit-animation: cujpin 1s ease-out forwards; }
.niudan .niudan-chance { line-height: 0.38rem; padding: 0.14rem; width: 4.26rem; height: 1.4rem; font-size: 0.22rem; position: absolute; top: 0.18rem; left: 0.6rem; color: #fff; transform: rotate(-4.5deg); }
.niudan .niudan-chance span { color: #ffec30; }
.niudan .niudan-start { background-position: -6.44rem 0; width: 3.3rem; height: 0.95rem; display: block; margin: 0 auto; text-align: center; padding: 0.55rem 0 0; line-height: 0.2rem; color: #000; font-size: 0.14rem; }
.niudan .niudan-myaward { position: absolute; background-position: -6.44rem -0.99rem; width: 0.75rem; height: 1.45rem; bottom: 0.64rem; right: 0.34rem; }

.qiu_1 { left: 0rem; top: 1.37rem; }

.qiu_2 { left: 0.99rem; top: 0.37rem; }

.qiu_3 { left: 0.99rem; top: 1.4rem; }

.qiu_4 { left: 1.93rem; top: 1.09rem; }

.qiu_5 { left: 2.69rem; top: 0.6rem; }

.qiu_6 { left: 2.71rem; top: 1.59rem; }

.qiu_7 { left: 3.77rem; top: 0.45rem; }

.qiu_8 { left: 3.76rem; top: 1.49rem; }

.wieyi_1 { animation: around1 1.5s linear  infinite; -webkit-animation: around1 1.5s linear  infinite; }

.wieyi_2 { animation: around2 1.5s linear  infinite; -webkit-animation: around2 1.5s linear  infinite; }

.wieyi_3 { animation: around3 1.5s linear  infinite; -webkit-animation: around3 1.5s linear  infinite; }

.wieyi_4 { animation: around4 1.5s linear  infinite; -webkit-animation: around4 1.5s linear  infinite; }

.wieyi_5 { animation: around5 1.5s linear  infinite; -webkit-animation: around5 1.5s linear  infinite; }

.wieyi_6 { animation: around6 1.5s linear infinite; -webkit-animation: around6 1.5s linear infinite; }

.wieyi_7 { animation: around7 1.5s linear  infinite; -webkit-animation: around7 1.5s linear  infinite; }

.wieyi_8 { animation: around8 1.5s linear  infinite; -webkit-animation: around8 1.5s linear  infinite; }

.mod--zbfl .zbfl-share { background-position: -3.43rem -0.68rem; width: 1.82rem; height: 0.64rem; display: block; margin: 0 auto; }
.mod--zbfl .zbfl-get_chance { padding: 0 0.05rem; line-height: 0.38rem; border-radius: 0.05rem; font-weight: bold; font-size: 0.24rem; }
.mod--zbfl a.zbfl-get_chance { display: none; background: #fddd3f; color: #233fc8; }
.mod--zbfl span.zbfl-get_chance { background: #656565; color: #dedede; }
.mod--zbfl .zbfl-alble a.zbfl-get_chance { display: inline-block; }
.mod--zbfl .zbfl-alble span.zbfl-get_chance { display: none; }

.ssjl-list { *zoom: 1; padding: 0 0.17rem; }
.ssjl-list:after { content: ""; display: table; clear: both; }
.ssjl-list a { float: left; background-position: 0 0; width: 2.85rem; height: 2.2rem; text-align: center; margin: 0 0.08rem 0.1rem; }
.ssjl-list .item-rank { margin-top: 0.05rem; font-size: 0.24rem; line-height: 0.38rem; font-weight: bold; background: linear-gradient(to bottom, #fff4c7, #ffffff 50%, #fff4c7); -webkit-background-clip: text; color: transparent; }
.ssjl-list .item-image { display: block; margin: 0 auto 0.09rem; height: 1.05rem; }
.ssjl-list .item-more { line-height: 0.4rem; color: #ff6900; font-size: 0.24rem; }

.lbdh-list { *zoom: 1; padding: 0 0.17rem; }
.lbdh-list:after { content: ""; display: table; clear: both; }
.lbdh-list li { float: left; text-align: center; margin: 0 0.02rem 0.3rem; }
.lbdh-list li:nth-of-type(4), .lbdh-list li:nth-of-type(5) { margin: 0 0.23rem 0.3rem; }
.lbdh-list li:nth-of-type(4) { margin-left: 0.8rem; }
.lbdh-list .item-cover { display: block; padding: 0.42rem 0 0; position: relative; margin-bottom: 0.1rem; background-position: 0 -2.24rem; width: 1.97rem; height: 2.03rem; }
.lbdh-list .item-int { line-height: 0.43rem; font-size: 0.3rem; background: linear-gradient(to bottom, #ffffff, #c3d6fc); -webkit-background-clip: text; color: transparent; font-weight: bold; margin-bottom: 0.74rem; }
.lbdh-list .item-img { position: absolute; top: 0.71rem; left: 0.24rem; width: 1.5rem; height: 1rem; }
.lbdh-list .item-dh { display: block; margin: 0 auto; background-position: 0 -1.61rem; width: 1.82rem; height: 0.64rem; }
.lbdh-list .item-dh.geted { background-position: 0 -2.29rem; width: 1.82rem; height: 0.64rem; }
.lbdh-list .item-more { line-height: 0.26rem; color: #719dff; font-size: 0.18rem; }

.footer { background: #18256b; font-size: 0.12rem; color: #fff; text-align: center; line-height: 0.22rem; padding: 0.1rem 0; }

@-webkit-keyframes cujpin { 0% { -webkit-transform: translateY(0.1rem) scale(1); }
  100% { -webkit-transform: translateY(0.5rem) scale(1.5); } }
@keyframes cujpin { 0% { transform: translateY(0.1rem) scale(1); }
  100% { transform: translateY(0.5rem) scale(1.5); } }
@-webkit-keyframes around1 { 0% { -webkit-transform: translate(0px, 0px); }
  20% { -webkit-transform: translate(3rem, 2.3rem); }
  40% { -webkit-transform: translate(2rem, -1rem); }
  60% { -webkit-transform: translate(0.5rem, 2.3rem); }
  80% { -webkit-transform: translate(3rem, -0.5rem); }
  100% { -webkit-transform: translate(2rem, 2.4rem); } }
@keyframes around1 { 0% { transform: translate(0px, 0px); }
  20% { transform: translate(3rem, 2.3rem); }
  40% { transform: translate(2rem, -1rem); }
  60% { transform: translate(0.5rem, 2.3rem); }
  80% { transform: translate(3rem, -0.5rem); }
  100% { transform: translate(2rem, 2.4rem); } }
@-webkit-keyframes around2 { 0% { -webkit-transform: translate(0px, 0px); }
  10% { -webkit-transform: translate(3rem, -1.2rem); }
  30% { -webkit-transform: translate(2.5rem, 1.3rem); }
  50% { -webkit-transform: translate(-0.5rem, -1.2rem); }
  80% { -webkit-transform: translate(0rem, 1.4rem); }
  100% { -webkit-transform: translate(3rem, -1.8rem); } }
@keyframes around2 { 0% { transform: translate(0px, 0px); }
  10% { transform: translate(3rem, -1.2rem); }
  30% { transform: translate(2.5rem, 1.3rem); }
  50% { transform: translate(-0.5rem, -1.2rem); }
  80% { transform: translate(0rem, 1.4rem); }
  100% { transform: translate(3rem, -1.8rem); } }
@-webkit-keyframes around3 { 0% { -webkit-transform: translate(0px, 0px); }
  25% { -webkit-transform: translate(0.7rem, -2.9rem); }
  50% { -webkit-transform: translate(3.2rem, 0rem); }
  80% { -webkit-transform: translate(-0.2rem, -2.9rem); }
  100% { -webkit-transform: translate(2.9rem, 0rem); } }
@keyframes around3 { 0% { transform: translate(0rem, 0rem); }
  25% { transform: translate(0.7rem, -2.9rem); }
  50% { transform: translate(3.2rem, 0rem); }
  80% { transform: translate(-0.2rem, -2.9rem); }
  100% { transform: translate(2.9rem, 0rem); } }
@-webkit-keyframes around4 { 0% { -webkit-transform: translate(0rem, 0rem); }
  12% { -webkit-transform: translate(0.5rem, 2.5rem); }
  30% { -webkit-transform: translate(-1.5rem, -0.3rem); }
  60% { -webkit-transform: translate(-1.4rem, 2.6rem); }
  80% { -webkit-transform: translate(-0.1rem, -0.3rem); }
  100% { -webkit-transform: translate(-0.2rem, 2.6rem); } }
@keyframes around4 { 0% { transform: translate(0rem, 0rem); }
  12% { transform: translate(0.5rem, 2.5rem); }
  30% { transform: translate(-1.5rem, -0.3rem); }
  60% { transform: translate(-1.4rem, 2.6rem); }
  80% { transform: translate(-0.1rem, -0.3rem); }
  100% { transform: translate(-0.2rem, 2.6rem); } }
@-webkit-keyframes around5 { 0% { -webkit-transform: translate(0rem, 0rem); }
  22% { -webkit-transform: translate(-0.5rem, -1.7rem); }
  46% { -webkit-transform: translate(1.5rem, 1.45rem); }
  80% { -webkit-transform: translate(2rem, -1.15rem); }
  100% { -webkit-transform: translate(-1rem, 1.45rem); } }
@keyframes around5 { 0% { transform: translate(0rem, 0rem); }
  22% { transform: translate(-0.5rem, -1.7rem); }
  46% { transform: translate(1.5rem, 1.45rem); }
  80% { transform: translate(2rem, -1.15rem); }
  100% { transform: translate(-1rem, 1.45rem); } }
@-webkit-keyframes around6 { 0% { -webkit-transform: translate(0rem, 0rem); }
  15% { -webkit-transform: translate(2.6rem, 0.4rem); }
  30% { -webkit-transform: translate(-0.8rem, -2.6rem); }
  45% { -webkit-transform: translate(-0.4rem, 0.4rem); }
  60% { -webkit-transform: translate(1rem, -2.9rem); }
  75% { -webkit-transform: translate(-0.8rem, -2.8rem); }
  100% { -webkit-transform: translate(0.1rem, 0.4rem); } }
@keyframes around6 { 0% { transform: translate(0rem, 0rem); }
  15% { transform: translate(2.6rem, 0.4rem); }
  30% { transform: translate(-0.8rem, -2.6rem); }
  45% { transform: translate(-0.4rem, 0.4rem); }
  60% { transform: translate(1rem, -2.9rem); }
  75% { transform: translate(-0.8rem, -2.8rem); }
  100% { transform: translate(0.1rem, 0.4rem); } }
@-webkit-keyframes around7 { 0% { -webkit-transform: translate(0rem, 0rem); }
  20% { -webkit-transform: translate(-0.6rem, -1.7rem); }
  40% { -webkit-transform: translate(0.9rem, 1.6rem); }
  60% { -webkit-transform: translate(-2.2rem, -1.4rem); }
  80% { -webkit-transform: translate(1.6rem, -0.6rem); }
  100% { -webkit-transform: translate(-1rem, -1rem); } }
@keyframes around7 { 0% { transform: translate(0rem, 0rem); }
  20% { transform: translate(-0.6rem, -1.7rem); }
  40% { transform: translate(0.9rem, 1.6rem); }
  60% { transform: translate(-2.2rem, -1.4rem); }
  80% { transform: translate(1.6rem, -0.6rem); }
  100% { transform: translate(-1rem, -1rem); } }
@-webkit-keyframes around8 { 0% { -webkit-transform: translate(0rem, 0rem); }
  20% { -webkit-transform: translate(1.4rem, -1.2rem); }
  40% { -webkit-transform: translate(-1.4rem, 0.4rem); }
  60% { -webkit-transform: translate(-1.8rem, -2.4rem); }
  80% { -webkit-transform: translate(1rem, 0.5rem); }
  100% { -webkit-transform: translate(-1.8rem, -2.2rem); } }
@keyframes around8 { 0% { transform: translate(0rem, 0rem); }
  20% { transform: translate(1.4rem, -1.2rem); }
  40% { transform: translate(-1.4rem, 0.4rem); }
  60% { transform: translate(-1.8rem, -2.4rem); }
  80% { transform: translate(1rem, 0.5rem); }
  100% { transform: translate(-1.8rem, -2.2rem); } }
.lowVersion .sclb-list .item-stage { color: #fff; }
.lowVersion .sclb-list .item-time { color: #fff; }
.lowVersion .ssjl-list .item-rank { color: #fff; }
.lowVersion .lbdh-list .item-int { color: #fff; }
