/* :root{
    --theme-color:#4399A2;
    --theme-default-color:blue;

    --base-size: 12px;
    --button-size-big:1.5;
    --tit-size-bigger:2;
}

body{
    --theme-color:#A26E43;
}

.title{
    color: #4399A2;
    color:var(--theme-color,var(--theme-default-color));
    font-size: calc(var(--tit-size-bigger) * var(--base-size));
}

.button{
    border:1px solid var(--theme-color,blue);
    color:var(--theme-color,blue);
    text-align: center;
    display: inline-block;
    text-decoration: none;
    line-height: 30px;
    width: 100px;
    font-size: calc(var(--button-size-big) * var(--base-size));
}

.button:hover{
    color:#fff;
    background: var(--theme-color,blue);
}  */


.block {
    --block-font-size: 12px;
}

.block__highlight {
    /* DOESN'T WORK */
    --block-highlight-font-size: calc(var(--block-font-size)*1.5);
    font-size: var(--block-highlight-font-size);

    /* WORKS */
    /* font-size: calc(var(--block-font-size)*1.5); */
}

