.player{
    --theme-color:#4399A2;
    --theme-default-color:blue;

    --base-size: 12px;
    --button-size-big:1;
    --tit-size-bigger:2;
}

.title{
    font-size: calc(var(--tit-size-bigger) * var(--base-size));
}

.button{
    border:1px solid #000;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    line-height: 30px;
    width: 100px;
    font-size: calc(var(--button-size-big) * var(--base-size));
}

.button:hover{
    color:#fff;
    background: var(--theme-color,blue);
} 
.progress{
    height: 6px;
    width: 500px;
    border-radius: 3px;
    margin-top: 10px;
}





.player{
    --theme-color:#4399A2;
}
.title{
    color:var(--theme-color);
}
.button{
    border-color:var(--theme-color);
}
.progress{
    background: var(--theme-color);
}

