@import '../assets/sass/mixin.scss';

.mod--ssjc{
    
}
.ssjc-share{
.share-instr{
    text-align: center;
    margin-bottom: px(17);
    line-height: px(50);
    color: #63f7f9;
    font-size: px(24);
    span{
    color: #fdc814;
    }
}
.share-oper{
    text-align: center;
    margin-bottom: px(26);
    a{
    @extend %btn_sprite;
    @include btn_1;
    line-height: px(62);
    text-align: center;
    font-size: px(30);
    color: #6e350a;
    display: inline-block;
    margin: 0 px(10);
    }
}
}
.ssjc-user{
color: #cbc5ba;
margin-bottom: px(30);
line-height: 50px;
& > div{
    display: inline-block;
}
a{
    color: #cbc5ba;
}
}
.ssjc-integ{
span{
    color: #fdc814;
}
}
.ssjc-more{
@extend %btn_sprite;
@include btn_more;
padding-top: px(5);
margin: 0 auto;
display: block;
line-height: 1.2;
text-align: center;
color: #6e350a;
text-shadow: 1px 1px 1px #e2bd60;
.more-up{
    font-size: px(30);
    display: block;
}
.more-normal{
    font-size: px(18);
    display: block;
}
}
.ssjc-encounter{
padding-bottom: px(20);

.encounter-tit{
    // @extend %tit_sprite;
    // @include tit_3;
    text-align: center;

    margin: 0 auto px(30);
    h6{
    display: inline-block;
    line-height: px(45);
    background: linear-gradient(to right, #908670, #f6f1d8 50%,#908670);
    -webkit-background-clip: text;
    font-size: px(30);
    font-weight: bold;
    color: transparent;
    }
}
.encounter-nodata{
    background: linear-gradient(to right, #061e2e, #04141f 10%,#04141f 90%,#061e2e);
    color: #cbc5ba;
    line-height: px(60);
    text-align: center;
}
.encounter-list{
    li{
    @extend %other_sprite;
    @include ibg_3;
    @include clearfix;
    display: block;
    margin: 0 auto px(40);
    }
    .item-team{
    text-align: center;
    position: relative;
    width: px(269);
    }
    .item-team:nth-child(odd){
    margin-left: px(6);
    float: left;
    }
    .item-team:nth-child(even){
    margin-right: px(6);
    float: right;
    }
    .team-name{
    color: #63f7f9;
    line-height: px(120);
    font-weight: bold;
    font-size: px(24);
    width: px(220);
    margin: 0 auto;
    @include ellipsis;
    }
    .item-pass{
    position: absolute;
    @extend %other_sprite;
    @include ibg_4;
    top:0;
    left:50%;
    color: #e6c886;
    font-size: px(20);
    line-height: px(34);
    margin-left: px(-45);
    }
    .team-guess{
    @extend %btn_sprite;
    @include btn_7;
    line-height: px(47);
    color: #000000;
    font-size:px(24);
    bottom:px(-25);
    left:50%;
    margin-left: px(-87);
    position: absolute;
    }
    .team-guess.guessed,
    .team-guess.missed{
    @include btn_8;
    color: #2a2825;
    }
}
}
.ssjc-encounter--4 .encounter-tit h6{
background: linear-gradient(to right, #d19740, #f6f1d8 50%, #d19740);
-webkit-background-clip: text;
}

.result-encounter{
margin: 0 px(10);
.encounter-tit{
    h6{
    line-height: px(42);
    font-size: px(24);
    text-align: center;
    color: #8bf3ed;
    }
    padding: 0 0 px(10);
    margin-bottom: px(10);
    border-bottom: 1px solid #8bf3ed;
}
.encounter-cont{
    line-height: px(42);
    font-size: px(24);
    dt{
    font-weight: bold;
    color: #8bf3ed;
    }
    dd{
    @include clearfix;
    }
    ul{
    li{
        @include clearfix;
    }
    }
    .item-team:nth-child(odd){
    position: relative;
    padding-right: px(100);
    float: left;
    }
    .item-team:nth-child(even){
    float: right;
    }
    .team-pass{
    position: absolute;
    @extend %btn_sprite;
    @include btn_9;
    text-align: center;
    line-height: px(34);
    top:px(4);
    left:px(175);
    }
    .item-team{
    @include ellipsis;
    width: px(175);
    }
}
}