@import '../assets/sass/mixin.scss';

.user{
    text-align: center;
    position: relative;
    color: #005d69;
    *zoom:1;
    a{
      color: #005d69;
      font-weight: bold;
      margin: 0 px(5);
    }
    .user-name,
    .user-greet,
    .user-logout{
      display: inline-block;
      vertical-align: top;
    }
    .user-name{
      @include ellipsis;
      max-width: px(130);
    }
}