<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <button id="trigger">trigger</button>
    
    <script type="text/template" id="securityTmpl">
        <div class="u-dialog dialog-security">
            <a href="javascript:;" class="dialog-close"></a>
            <% if(hasSecurity){ %>
            <div class="dialog-tit">绑定手机号</div>
            <div class="dialog-sub">为了您的账号安全，请先绑定手机后再完善身份信息</div>
            <div class="dialog-cont">
                <form class="u-form" name="bind" action="">
                    <div class="form-group form-group-horizen">
                        <label class="form-label" for="">手机号</label>
                        <input class="form-control" type="text" value="" name="phone">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group form-group-horizen form-group-verifycode">
                        <label class="form-label" for="">验证码</label>
                        <input class="form-control" type="text" value="" name="verify">
                        <a href="javascript:;" class="verifycode disable">获取验证码</a>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group-btn">
                        <button type="submit" class="btn btn-primary disable">提交</button>
                    </div>
                </form>
            </div>
            <div class="dialog-layer">
                <div class="dialog-layout-vertical-center">
                    <a href="javascript:;" class="layer-close"></a>
                    <div class="dialog-layout-vertical-center-inner">
                        <div class="dialog-tit">手机验证码已达到发送上限</div>
                        <div class="dialog-sub">编辑短信<span>709411</span>发送到<span>1069 1189 4399 1</span>即可成功
                            <br>绑定。（此短信免费）</div>
                    </div>
                </div>
            </div>
            <% }else{ %>
                <div class="dialog-tit">安全验证</div>
                <div class="dialog-sub">为了您的账号安全，请先验证密保后再完善身份信息</div>
                <% if(hasBindedPhone){ %>
                <div class="dialog-cont">
                    <div class="dialog-tip">您绑定的手机号：<span>152****6152</span></div>
                    <form class="u-form" name="bind" action="">
                        <div class="form-group form-group-horizen">
                            <label class="form-label" for="">手机号</label>
                            <input class="form-control" type="text" value="" name="phone">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group form-group-horizen form-group-verifycode">
                            <label class="form-label" for="">验证码</label>
                            <input class="form-control" type="text" value="" name="verify">
                            <a href="javascript:;" class="verifycode disable">获取验证码</a>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group-btn">
                            <button type="submit" class="btn btn-primary disable">提交</button>
                        </div>
                    </form>
                </div>
                <% }else{ %>
                <div class="dialog-cont">
                    <div class="u-tab">
                        <ul class="tab-hd">
                            <li class="cur"><span>问题验证</span></li>
                            <li><span>邮箱验证</span></li>
                            <li><span>QQ验证</span></li>
                        </ul>
                        <div class="tab-bd">
                            <div class="tab-cont" style="display:block;">
                                <form class="u-form" name="qa">
                                    <div class="form-group form-group-vertical">
                                        <label class="form-label" for="">这里显示密保问题？</label>
                                        <input class="form-control" name="q1" type="text" value="">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group form-group-vertical">
                                        <label class="form-label" for="">这里显示密保问题？</label>
                                        <input class="form-control" name="q2" type="text" value="">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group form-group-vertical">
                                        <label class="form-label" for="">这里显示密保问题？</label>
                                        <input class="form-control" name="q3" type="text" value="">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group-btn">
                                        <button type="submit" class="btn btn-primary j-submit-qa">提交</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-cont">
                                <div class="dialog-tip">我们将向您的QQ邮箱（<span>393546680@qq.com</span>）发送一封
                                    <br>验证邮件，验证码5分钟内有效，请尽快前往验证。</div>
                                <form class="u-form form-email" name="email">
                                    <div class="form-group form-group-horizen form-group-verifycode">
                                        <input class="form-control" type="text" value="" name="verify">
                                        <a href="javascript:;" class="verifycode">获取验证码</a>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group-btn">
                                        <button type="submit" class="btn btn-primary disable">提交</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-cont">
                                <div class="dialog-tip">我们将向您的QQ邮箱（<span>393546680@qq.com</span>）发送一封
                                    <br>验证邮件，验证码5分钟内有效，请尽快前往验证。</div>
                                <form class="u-form form-qq" name="qq">
                                    <div class="form-group form-group-horizen form-group-verifycode">
                                        <input class="form-control" type="text" value="" name="verify">
                                        <a href="javascript:;" class="verifycode">获取验证码</a>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group-btn">
                                        <button type="submit" class="btn btn-primary disable">提交</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <% } %>
    </script>
    <script src="./js/jquery.min.1.7.2.js"></script>
    <script src="./js/baiduTemplate.js"></script>
    <script src="./js/ks.dialog.js"></script>
    <script>
        var securityData = {
            hasSecurity : false,
            hasBindedPhone : true
        }
        var strategies = {
            isEmpty :function(value, errorMsg) {
                return value === '' ?
                    errorMsg : void 0
            },
            isMoblie :function(value, errorMsg) {
                if(value == "")
                    return void 0;

                return !/^0?(13|14|15|17|18)[0-9]{9}$/.test(value) ?
                    errorMsg : void 0
            },
            isNumber : function(value,errorMsg) {
                var regPos = /^\d+(\.\d+)?$/; //非负浮点数
                var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/; //负浮点数
                if(regPos.test(value) && regNeg.test(value)){
                    return void 0;
                }else{
                    return errorMsg;
                }
            },
            maxLength :function(value, length ,errorMsg) {
                return value.length > length ?
                    errorMsg : void 0
            }
        };

        var ValidateModel = {
            cache : [],
            add : function(dom,rules){
                var _this = this;

                for(var i=0;i < rules.length;i++){
                    (function (i){
                        var rule = rules[i];
                        var strategyArr = rule.strategy.split(':');
                        var strategy = strategyArr.shift();
                        strategyArr.unshift(dom.value);
                        strategyArr.push(rule.errorMsg);
                        _this.cache.push({
                            dom : dom,
                            handle : function(){
                                return strategies[strategy].apply(dom,strategyArr);
                            }
                        })
                    })(i)
                }
            },
            start : function(){
                for(var i=0;i < this.cache.length;i++){
                    var errorMsg = this.cache[i].handle();
                    if(errorMsg){
                        return errorMsg
                    }
                }
            }
        }

        
        $(document).on("click","#trigger",function(params) {
            ue.dialog({
                id: "j-security_popup",
                content: baidu.template('securityTmpl',securityData),
                lock: true,
                force: true,
                drag : true,
                closeBtn: ".dialog-close",
                init: function () {
                    var _pop = this,
                        $pop = this.obj;

                    $pop.on('click','.dialog-close',function(){
                        _pop.close();
                    });
                    $pop.on('click','.layer-close',function(){
                        $pop.find('.dialog-layer').hide();
                    });
                    $pop.find('.u-tab li').bind('click',function(){
                        var index = $(this).index();
                        $(this).addClass("cur").siblings().removeClass("cur");
                        $pop.find('.u-tab .tab-cont').eq(index).show().siblings().hide();
                    })
                    
                
                    var forms = [
                        $pop.find(".u-form[name='bind']")[0],
                        $pop.find(".u-form[name='qa']")[0],
                        $pop.find(".u-form[name='email']")[0],
                        $pop.find(".u-form[name='qq']")[0]
                    ]

                    $.each(forms,function(j,form) {
                        if(!form) return true;
                        var $form = $(form);

                        //手机号输入框
                        $form.find('input[name=phone]').bind('input propertychange',function(){
                            
                            this.value = this.value.replace(/[^\d]/g,'');
                            this.value = this.value.slice(0,11);
                            
                            checkBtnAvailable(form);
                            inputCheck(this,[{
                                strategy: 'isEmpty',errorMsg: '手机号不能为空'
                            },{
                                strategy: 'isMoblie',errorMsg: '请输入正确手机号'
                            }]);
                        });

                        //验证码输入框
                        $form.find('input[name=verify]').bind('input propertychange',function(){
                            this.value = this.value.slice(0,6);

                            checkBtnAvailable(form);
                            inputCheck(this,[{
                                strategy: 'isEmpty',errorMsg: '验证码不能为空'
                            }]);
                        })

                        //获取验证码
                        $form.find(".verifycode").bind('click',function(){
                            if($(this).hasClass("disable")){
                                return false
                            }
                            $pop.find('.dialog-layer').show();
                            countDown(form);
                            // $.post("-ajaxGetFireCode", {}, function (result) {
                            //     
                            // },"json");
                        })

                        //密保问题输入框
                        for (var i = 1; i <= 3; i++) {
                            $form.find('input[name=q' + i + ']').bind('input propertychange',function(){
                                inputCheck(this,[{
                                    strategy: 'isEmpty',errorMsg: '密保问题不能为空'
                                }]);
                            })
                        }


                    })
                    

                    

                    //提交问题验证
                    $pop.find(".j-submit-qa").bind('click',function(){
                        if($(this).hasClass("disable")){
                            return false
                        }
                        var errorMsg;
                        for (var i = 1; i <= 3; i++) {
                            errorMsg = inputCheck($pop.find('input[name=q' + i + ']')[0],[{
                                strategy: 'isEmpty',errorMsg: '密保问题不能为空'
                            }])
                        }
                        if(errorMsg){
                            return false;
                        }
                        //$pop.find(".u-form").submit()
                        return false;
                    })
                    
                    
                    function inputCheck(dom,rules){
                        var $error = $(dom).closest(".form-group").find(".invalid-feedback");
                        $error.html('').hide();
                        ValidateModel.cache = [];
                        ValidateModel.add(dom,rules);
                        var errorMsg = ValidateModel.start();
                        if(errorMsg){
                            $error.html(errorMsg).show();
                            return false
                        }
                        return true
                    }
                    
                    function checkBtnAvailable(form){
                        var $form = $(form);
                        
                        if(($form.find('input[name=phone]').length > 0) && ($form.find('input[name=verify]').length > 0)){
                            if($form.find('input[name=phone]').val().length >= 11){
                                $form.find(".verifycode").removeClass("disable");
                            }else{
                                $form.find(".verifycode").addClass("disable");
                            }
                            if(($form.find('input[name=phone]').val().length >= 11) && ($form.find('input[name=verify]').val() != "")){
                                $form.find(".btn-primary").removeClass("disable");
                            }else{
                                $form.find(".btn-primary").addClass("disable");
                            }
                        }
                        if($form.find('input[name=verify]').length > 0){
                            if($form.find('input[name=verify]').val() != ""){
                                $form.find(".btn-primary").removeClass("disable");
                            }else{
                                $form.find(".btn-primary").addClass("disable");
                            }
                        }
                    }
                    
                    function countDown(form){
                        var $form = $(form);
                        var _t = 6;
                        function countTime(){		
                            _t--;
                            if( _t<=0 ){
                                $form.find(".verifycode").attr("class","verifycode").html('重新获取');
                            }else{
                                $form.find(".verifycode").attr("class","verifycode disable").html('已发送（' + _t +'S）');
                                setTimeout(arguments.callee,1000);
                            }
                        }
                        setTimeout(countTime,1000);
                    }
             

                },
                afterClose: function() {
                    
                }
            });
        })
    </script>
</body>
</html>