<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
    <button id="trigger">trigger</button>
    
    
    <script type="text/template" id="securityTmpl">
        <div class="u-dialog dialog-security">
            <a href="javascript:;" class="dialog-close"></a>
            <% if(userInfo){ %>
                <div class="dialog-tit">安全验证</div>
                <div class="dialog-sub">为了您的账号安全，请先验证密保后再完善身份信息</div>
                <% if(userInfo.phone){ %>
                <div class="dialog-cont">
                    <div class="dialog-txt">您绑定的手机号：<span id="j-binded-phone"><%=userInfo.phone.data%></span></div>
                    <form class="u-form" name="phone" action="">
                        <div class="invalid-feedback"></div>
                        <div class="form-group form-group-horizen">
                            <label class="form-label" for="">手机号</label>
                            <input class="form-control" type="text" value="" name="phone">
                        </div>
                        <div class="form-group form-group-horizen form-group-verifycode">
                            <label class="form-label" for="">验证码</label>
                            <input class="form-control" type="text" value="" name="code">
                            <a href="javascript:;" class="verifycode disable" isCounting="false">获取验证码</a>
                        </div>
                        <div class="form-group-btn">
                            <button type="button" class="btn btn-primary disable j-submit">提交</button>
                        </div>
                    </form>
                </div>
                <% }else{ %>
                <div class="dialog-cont">
                    <div class="u-tab">
                        <ul class="tab-hd">
                            <%var index = 0;for(var key in userInfo){%>
                            <li data-type="<%=key%>" <%if(index==0){%>class="cur"<%}%>><span>
                                <%=userInfo[key].name%>
                            </span></li>
                            <%;index += 1;}%>
                        </ul>
                        <div class="tab-bd">
                            <%var index = 0;for(var key in userInfo){%>
                            <div class="tab-cont" <%if(index==0){%>style="display:block;"<%}%>>
                                <%var _data = userInfo[key].data;%>
                                <%if(key=="question"){%>
                                <form class="u-form" name="<%=key%>">
                                    <div class="invalid-feedback"></div>
                                    <%for(var q = 0;q < _data.length;q++){%>
                                    <div class="form-group form-group-vertical">
                                        <label class="form-label" for=""><%=_data[q][0]%></label>
                                        <input name="question<%=q+1%>" type="hidden" value="<%=_data[q][0]%>">
                                        <input class="form-control" name="answer<%=q+1%>" type="text" value="" data-reg="<%=_data[q][1]%>" data-errormsg="<%=_data[q][2]%>">
                                    </div>
                                    <%}%>
                                    <div class="form-group-btn">
                                        <button type="button" class="btn btn-primary j-submit">提交</button>
                                    </div>
                                </form>
                                <%}%>
                                <%if(key=="email"){%>
                                <div class="dialog-txt">我们将向您的邮箱（<span><%=userInfo[key].data%></span>）发送一封验证邮件，验证链接30分钟内有效，发送成功后请尽快前往验证。</div>
                                <form class="u-form" name="<%=key%>">
                                    <div class="invalid-feedback"></div>
                                    <div class="form-group-btn">
                                        <button type="button" class="btn btn-primary j-send">发送验证邮件</button>
                                    </div>
                                </form>
                                <%}%>
                                <%if(key=="qq"){%>
                                <div class="dialog-txt">我们将向您的QQ邮箱（<span><%=userInfo[key].data%></span>）发送一封验证邮件，验证链接30分钟内有效，发送成功后请尽快前往验证。</div>
                                <form class="u-form" name="<%=key%>">
                                    <div class="invalid-feedback"></div>
                                    <div class="form-group-btn">
                                        <button type="button" class="btn btn-primary j-send">发送验证邮件</button>
                                    </div>
                                </form>
                                <%}%>
                            </div>
                            <%;index += 1;}%>
                        </div>
                    </div>
                </div>
                <% } %>
            <% }else{ %>
            <div class="dialog-tit">绑定手机号</div>
            <div class="dialog-sub">为了您的账号安全，请先绑定手机后再完善身份信息</div>
            <div class="dialog-cont">
                <div class="bind-step step-1">
                    <div class="bind-progress"></div>
                    <form class="u-form" name="pwd" action="">
                        <div class="invalid-feedback"></div>
                        <div class="form-group form-group-horizen form-group-4em">
                            <label class="form-label" for="">登录密码</label>
                            <input class="form-control" type="text" value="" name="code">
                        </div>
                        <div class="form-group-btn">
                            <button type="button" class="btn btn-primary j-submit disable">下一步</button>
                        </div>
                    </form>
                </div>
                <div class="bind-step step-2" style="display:none;">
                    <div class="bind-progress"></div>
                    <div class="dialog-txt">编辑短信<span id="j-bind-phone"></span>发送到<span id="j-bind-bindingCode"></span>即可成功绑定。（此条短信4399不收取任何费用）验证邮件，验证码5分钟内有效，请尽快前往验证。</div>
                </div>
            </div>
            <div class="dialog-layer">
                <div class="dialog-layout-vertical-center">
                    <a href="javascript:;" class="layer-close"></a>
                    <div class="dialog-layout-vertical-center-inner">
                        <div class="dialog-tit">手机验证码已达到发送上限</div>
                        <div class="dialog-sub">编辑短信<span>709411</span>发送到<span>1069 1189 4399 1</span>即可成功
                            <br>绑定。（此短信免费）</div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <% } %>
    </script>
    <script src="./js/jquery.min.1.7.2.js"></script>
    <script src="./js/baiduTemplate.js"></script>
    <script src="./js/ks.dialog.js"></script>
    <script src="./mock/mock-min.js"></script>
    <script src="./mock/mock.js"></script>
    <script src="./js/main.js"></script>
    <script>
        function __checkIdcard(a){
            var b=/^\d{15}(\d{2}[\dx])?$/i;
            if(!b.test(a)){
                return 0
            };
            var c=a.length,d;
            if(c==15){
                d='19'+a.substr(6,6)
                console.log(d);
            }else{
                d=a.substr(6,8)
            };
            if((function(e){
                var f=[31,28,31,30,31,30,31,31,30,31,30,31];
                var g=e.substr(0,4)*1;
                var h=e.substr(4,2)*1;
                var j=e.substr(6,2)*1;
                if(g<1850||g>2050){
                    return 0
                };
                if(g%400==0||(g%4==0&&g%100!=0)){
                    f[1]=29
                };
                if(h<1||h>12){
                    return 0
                };
                if(j>f[h-1]||j<1){
                    return 0
                };
                return 1
            })(d)==0){
                return 0
            };
            if(c==15){
                return 1
            };
            return(function(e){
                var f=[7,9,10,5,8,4,2,1,6,3,7,9,10,5,8,4,2];
                var g=['1','0','X','9','8','7','6','5','4','3','2'];
                var h=0;
                for(var j=0;j<17;j++){
                    h+=parseInt(e.substr(j,1))*f[j]
                };
                h=g[h%11];
                if(h==e.substr(17).toUpperCase()){
                    return 1
                };
                return 0
            })(a)
        } 
        console.log(__checkIdcard("513436201801018"));
        

    </script>
</body>
</html>