/* ucenter ui库 欢迎持续集成*/

/* u-head*/
.u-head {
    background:#2b2b2b;
    width:100%;
    height:48px;
    line-height:46px;
    position:relative;
}
.u-head h2 {
    padding:0 20px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-size:20px;
    color:#fff;
    font-weight:500;
    text-align:center;
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.35);
}
.u-section{
    margin: 0 10px;
    padding-top: 10px;
    position: relative;
}

/* u-tab*/
.u-tab{
    overflow: hidden;
}
.u-tab .tab-hd{
    height: 46px;
    background: #fff;
    padding: 0 10px;
}
.u-tab li{
    float: left;
    height: 46px;
    line-height: 46px;
    margin-right: 34px;
    cursor: pointer;
    position: relative;
}
.u-tab li::after{
    content: "";
    display: none;
    width: 35px;
    left: 50%;
    margin-left: -16px;
    height: 2px;
    top: 38px;
    background: #70c700;
    position: absolute;
}
.u-tab li.cur{
    color: #70c700;
    font-weight: bold;
}
.u-tab li.cur::after{
    display: block;
}

.u-tab .tab-cont{
    display: none;
}


/* u-form*/
.form-group{
    position: relative;
    margin-bottom: 8px;
}
.u-form .form-group:last-of-type{
    margin-bottom: 0;
}
.form-group-btn{
    padding: 20px 0;
}
.form-tip{
    color: #999999;
    line-height: 24px;
    padding: 2px 0 2px 5px;
}
.form-control{
    background-color: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
}
.form-control input[type=text]{
    width: 100%;
    padding: 13px 0;
    height: 18px;
    line-height: 18px;
    margin: 0 auto;
    display: block;
    border: 0 none;
}
textarea.form-control {
    padding: 3px 10px;
    line-height: 32px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    outline: none;
    resize: none;
}
.form-group-horizen .form-control{
    padding: 0 30px 0 95px;
}
.form-group-horizen .form-label{
    position: absolute;
    height: 44px;
    line-height: 44px;
    color: #666;
    width: 64px;
    left:8px;
    padding-right: 8px;
    text-align: justify;
    text-align-last:justify;
    -moz-text-align-last:justify;
}
.form-group-horizen .form-label:after{
    content: ':';
    display:inline-block;
    position: absolute;
    top: -.5px;
    right: 3px;
}
.form-group-horizen .form-label span:after{
    content: " ";
    display: inline-block;
    width: 100%;
}
.form-group-vertical .form-control{
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 8px;
}
.form-group-vertical .form-label{
    line-height: 32px;
}


/* feedback */
.invalid-feedback{
    line-height: 18px;
    padding: 0 0 5px 22px;
    font-size: 15px;
    color: #ff5b45;
    position: relative;
    display: none;
}
.invalid-feedback::before{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 2px;
    left: 0;
    background: url(../images/oauth/icon_invalid.png) 0 0 no-repeat;
    background-size: contain;
}


/* u-btn*/
.btn{
    display: inline-block;
}
.btn-primary {
    -webkit-appearance: none;
    background: #70c700;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 0 none;
    color: #fff;
    border-radius: 3px;
}
.btn.disable{
    background: #bbbbbb;
}

/* u-alert*/
.u-alert{
    padding: 5px 10px;
    line-height: 22px;
}
.u-alert.alert-warning{
    color: #585247;
    background-color: #fff1d2;
    border-color: #fff1d2;
}

/* u-txt*/
.u-txt{
    margin: 0 10px;
    background: #fff;
    padding: 14px 20px;
    line-height: 22px;
    color: #999;
    border-radius: 3px;
}
.u-txt span{
   color: #ffa92d;
}

/* u-tip*/
.u-tip {
    color: #999999;
    line-height: 20px;
    font-size: 12px;
}

/*u-toast*/
.u-toast{
    position: fixed;
    padding: 20px 10px;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    top:40%;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 8px;
}
.toast-tit{
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
}



/* u-dialog*/
.u-dialog-wrap{
    display: none;
}
.u-dialog-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 100;
}
.u-dialog{
    width: 270px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -90px 0 0 -135px;
    z-index: 110;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.u-dialog .dialog-content{
    padding: 25px 30px;
    line-height: 24px;
    color: #666;
    font-size: 12px;
}

.u-dialog .dialog-content p span{
    color: #ffa92d;
}
.u-dialog .dialog-btns{
    border-top: 1px solid #ddd;
    overflow: hidden;
    background: #fff;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.u-dialog .dialog-btn{
    float: left;
    width: 100%;
    text-align: center;
    line-height: 48px;
    border-right: 1px solid #ddd;
    margin-right: -2px;
    color: #666;
}
.u-dialog .dialog-btn-primary{
    color: #70c700;
}