/* feedback */

.feedback .form-group-id{
    display: none;
}
.feedback .textarea-wrapper {
    position: relative;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    background: #fff;
    overflow: hidden;
}
.feedback textarea.form-control {
    width: 100%;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 0;
}
.feedback .textarea-count {
    text-align: right;
    line-height: 40px;
    padding: 0 10px;
    color: #aaaaaa;
}
.feedback .radio-wrapper {
    float: left;
    margin-right: 6px;
}

.feedback .radio-wrapper label {
    width: 92px;
    line-height: 28px;
    border-radius: 14px;
    background:#ffffff;
    display: inline-block;
    text-align: center;
    border:1px solid #fff;
}

.feedback .radio-wrapper label.radio-checked{
    border-color: #70c700;
    color: #70c700;
}


.feedback-file{
    float: left;
    margin-bottom: 10px;
    width: 33.333%;
    max-width: 146px;
    overflow: hidden;
    box-sizing:border-box;
    padding-right: 10px;
    padding-left: 10px;
    display: none;
}
.file-field > *{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}


.feedback-file img{
    border: none;
}
.feedback-file .file-field{
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.feedback-file .file-origin{
    width: 100%;
    height: 100%;
    border:1px dashed #999999;
    box-sizing: border-box;
}   
.feedback-file .file-layer{
    width: 100%;
    height: 98%;
    position: absolute;
    top:0;
    left: 0;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    display: -webkit-flex;
    flex-direction:column;
    opacity: 0;
    align-items:center;
    justify-content:center;
    background: url(../images/ptlogin_mask2.png) repeat;
}

.feedback-file .file-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: none;
    box-sizing: border-box;
}

.feedback-file .file-plus{
    width: 100%;
    top:60%;
    left:0;
    height: 19%;
    line-height: 170%;
    position: absolute; 
    color: #999999;
    text-align: center;
}
.feedback-file .file-plus i{
    position: absolute;
    background: url(../images/icon_plus_grey.png) no-repeat 0 0;
    background-size: contain;
    width: 35%;
    height: 180%;
    bottom:100%;
    left:32%;
}
.feedback-file .file-img img{
    width: 100%;
    height: 100%;
}
.feedback-file .file-img i{
    position: absolute;
    width: 13%;
    height: 21%;
    right: 7%;
    bottom: 9%;
    background: url(../images/oauth/ico_shot.png) no-repeat 0 0;
    background-size: contain;
}   
.feedback-file .file-loading{
    z-index: 99;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top:0;
    left:0;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
    opacity: 0;
}

.feedback-file .file-field.loading input{
    display: none;
}  
.feedback-file .file-field.loading .file-origin{
    display: none;
} 
.feedback-file .file-field.loading .file-loading{
    opacity: 1;
}

.feedback-file .file-field input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    cursor: pointer;
    filter:alpha(opacity=0);
    z-index: 999;
    *font-size:100px;
    font-size:100px\0;
}
