

  @function px($px){
    @return ($px/100) + rem
  }

  @import './btn_sprite.scss';
  @import './other_sprite.scss';
  
  @mixin clearfix {
    *zoom: 1;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  @mixin bfc {
    &:before,
    &:after {
      content: "";
      display: table;
    }
  }
  @mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  @mixin bfont($size, $lineHeight,$color) {
    font: 700 px($size)/px($lineHeight) "microsoft yahei";
    color:$color;
  
  }
  @mixin lfont($size, $lineHeight,$color) {
    font: 500 px($size)/px($lineHeight) "microsoft yahei";
    color:$color;
  
  }
  
  
  %btn{
    display: inline-block;
    text-align: center;
    color: #e3faff;
  }
  
  %btn--mid{
    @extend %btn;
    
    font-size: px(24);
    line-height: px(54);
    font-weight: bold;
    /*background: linear-gradient(to bottom, #fdfefe, #8ac9dd);
    -webkit-background-clip: text;*/
    text-shadow: px(2) px(2) px(2) #093f93;
  }
  
  %btn--long{
    @extend %btn;
    @extend %btn_sprite;
    @include btn_long;
    font-size: px(60);
    line-height: px(70);
    font-weight: bold;
    text-shadow: px(2) px(2) px(2) #093f93;
  }