
* {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #222222;
    padding: 0;
    margin: 0;
    text-align: left;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, a, b, i, ins, span, div, input, textarea, select, option, li, ul, p, fieldset {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #222222;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border: 0;
}

td, th {
    border: 0;
    overflow: hidden;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

a {
    color: #333355;
    text-decoration: none;
}

a:hover {
    color: #666699;
    text-decoration: underline;
}

img {
    border: none;
    vertical-align: middle;
}

.container {
    text-align: center;
}

.wrap {
    text-align: left;
    margin: 0 auto;
    width: 960px;
    clear: both;
    float: none;
    display: block;
    zoom: 1;
    overflow: hidden;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}




.u-dialog{
    width: 400px;
    padding: 0 30px;
    position: relative;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.u-dialog *{
    color: #444444;
    font-size: 14px;
    font-family: "microsoft yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.dialog-close{
    position: absolute;
    top: 23px;
    right: 30px;
    width: 22px;
    height: 22px;
    background:url(../images/close.png) no-repeat;
}
.dialog-close:hover{
    background-image:url(../images/close_h.png);
}
.dialog-tit{
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 0 12px;
}
.dialog-sub{
    margin-bottom: 4px;
    line-height: 28px;
}
.dialog-sub span{
    color: #ffa92d;
}
.dialog-txt{
    color: #999999;
    background: #f2f2f2;
    line-height: 28px;
    padding: 8px 16px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.dialog-txt span{
    color: #ffa92d;
}
.dialog-cont{
    
}
.dialog-layer{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
}
.dialog-layer .layer-close{
    position: absolute;
    top: 23px;
    right: 30px;
    width: 22px;
    height: 22px;
    background: url(../images/close.png) no-repeat;
}
.dialog-layout-vertical-center{
    display: table;
}
.dialog-layout-vertical-center-inner{
    display: table-cell;
    vertical-align:middle;
}




input[type=text].form-control{
    padding: 0 10px;
    line-height: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
}
label.form-label{
    line-height: 34px;
}
.form-group-horizen{
    padding: 0 0 14px 54px;
    position: relative;
}
.form-group-horizen input[type=text].form-control{
    width: 324px;
}
.form-group-horizen label.form-label{
    width: 54px;
    position: absolute;
    top:0;
    left: 0;
}

.form-group-vertical{
    margin-bottom: 14px;
}
.form-group-vertical label.form-label{
    display: block;
}
.form-group-vertical input[type=text].form-control{
    width: 378px;
}

.form-group-verifycode input[type=text].form-control{
    width: 214px;
}
.form-group-btn{
    text-align: center;
    padding: 16px 0;
}
.verifycode{
    background: #70c700;
    width: 98px;
    text-align: center;
    line-height: 34px;
    color: #fff;
    float: right;
    border-radius: 4px;
    text-decoration: none;
}
.verifycode:hover{
    color: #fff;
    text-decoration: none;
}
.verifycode.disable{
    background: #c8c8c8;
    cursor: default;
}
.invalid-feedback{
    line-height: 14px;
    position: relative;
    color: #fc211f;
    padding-left: 30px;
    display: inline-block;
    padding-top: 11px;
    display: none;
    background:url(../images/icon_invalid.png) no-repeat 11px 11px;
}
.btn-primary{
    width: 120px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    background: #70c700;
    color: #fff;
    display: inline-block;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}
.btn.disable{
    background: #c8c8c8;
    cursor: default;
}

.u-tab{
    overflow: hidden;
}
.u-tab .tab-hd{
    height: 33px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.u-tab li{
    float: left;
    height: 32px;
    line-height: 32px;
    padding-right: 20px;
    margin-right: 20px;
    cursor: pointer;
    background: url(../images/line_v.png) no-repeat right center;
}
.u-tab li.cur span{
    display: block;
    border-bottom: 2px solid #70c700;
}

.u-tab .tab-cont{
    display: none;
}

.dialog-security .dialog-layer .dialog-tit{
    padding-top: 0;
}
.dialog-security .dialog-layout-vertical-center{
    padding: 0 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 100%;
}
.form-email .form-group-verifycode,
.form-qq .form-group-verifycode{
    padding-left: 0;
}
.form-email .form-group-verifycode input[type=text].form-control,
.form-qq .form-group-verifycode input[type=text].form-control{
    width: 268px;
}
